input {
    border: solid 1px var(--ensiblue);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

select {
    border: solid 1px var(--ensiblue);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.name>* {
    align-self: stretch;
    width: 100%;
}

.name>*:first-child {
    margin-right: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information > div {
    width: 100%;
}

input {
    box-sizing: border-box;
    width: 100%;
}

#email-input {
    transition: border 300ms
}

#password-input {
    transition: border 300ms
}

.again {
    margin-bottom: unset;
}

#email-missing {
    transition: opacity 300ms;
}

#password-error {
    transition: opacity 300ms;
}
